body {
  padding-top: 70px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar-button {
  height: 100%;
  width: 100%;
}

.nav-bar-button:hover,
.nav-bar-button:hover * {
  height: 100%;
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.corner-image {
  max-height: 75px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  z-index: 100;
}

#circle-corner {
  height: 120px;
  width: 120px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  z-index: 100;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  background: white;
  border: 1px solid black;
}
